
  <%= search_form_for @q, url: lists_path, html: {method: :get} do |f| %>
  <div class="form-group row">
    <div class="col-xs-2">
      <%= f.text_field :description_or_tags_name_cont, size: 30, class:"form-control", id:"ex1", placeholder: "Search by task or tag" %>  
    </div>
    <%= f.submit "Go", class: 'btn btn-outline-secondary my-2 my-sm-0'%>
  <% end %>
 

  