<h6><%= search_form_for @q, url: lists_path, html: {method: :get} do |f| %>
Search by tag or description:
    <%= f.search_field :description_or_tags_name_cont, autofocus: false %>
    <%= f.submit "Go"%>
  <% end %>
</h6>

